/*
	Color Scheme: https://colorhunt.co/palette/f9f7f7dbe2ef3f72af112d4e
	#F9F7F7
	#DBE2EF
	#3F72AF
	#112D4E
*/

/*
	TODO:
		gradient background
		pictures
		fix color scheme
*/

body {
	font-family: "Raleway", sans-serif;
	background: #83C5BE;
	margin: 0;
	color: #FFEAD2;
}

#head-container {
	background: #006D77;
	border-bottom: 1px solid #606d91;
	margin: auto;
	padding: 0px 20px;
}

#main-container {
	display: flex;
	flex-direction: column;
	margin: 3em;
}

.body-item {
	display: flex;
	padding: 1em;
	margin: 30px;
}

#featured {
	background: #E29578;
	justify-content: center;
	align-content: center;
	text-align: center;
}

#previous-projects {
	background: #006D77;
	justify-content: center;
	align-content: center;
	text-align: center;
	flex-wrap: wrap;
}

#previous-title {
	width: 100%;
}

.project-item {
	background: #FFDDD2;
	padding: 10px;
	margin: 10px;
	width: 20%;
	height: 100%;
}

#skills-biography{
	justify-content: center;
	align-content: center;
	gap: 1em;
}

.skills-item {
	background: #006D77;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 1em;
	text-align: justify;
}

.skills-item h3 {
	text-align: center;
}

#footer-container {
	background: #006D77;
	padding: 20px;
}

#footer-container a {
	text-decoration: none;
	color:#DBE2EF;
}

#footer-container a::after{
	color:#DBE2EF;
}
