/*
	Color Scheme: https://colorhunt.co/palette/f9f7f7dbe2ef3f72af112d4e
	#F9F7F7
	#DBE2EF
	#3F72AF
	#112D4E
*/


body {
	font-family: "Raleway", sans-serif;
	background: #DBE2EF;
	margin: 0;
	color: #F9F7F7;
}

#head-container {
	background: #112D4E;
	border-bottom: 1px solid #d0d6e2;
	margin: auto;
	padding: 0px 20px;
}

#main-container {
	display: flex;
	flex-direction: column;
}

.body-item {
	display: flex;
	padding: 1em;
	margin: 30px;
}

#featured {
	justify-content: center;
	align-content: center;
	text-align: center;
}

#previous-projects {
	justify-content: center;
	align-content: center;
	text-align: center;
	flex-wrap: wrap;
}

#previous-title {
	width: 100%;
}

.project-item {
	background: #112D4E;
	padding: 10px;
	margin: 10px;
	width: 20%;
	height: 100%;
}

#skills-biography{
	justify-content: center;
	align-content: center;
	gap: 1em;
}

.skills-item {
	background: #112D4E;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 1em;
	text-align: justify;
}

.skills-item h3 {
	text-align: center;
}

#footer-container {
	margin: auto;
}